<h1>TEAMS<h1>

  <%@teams.each do |team| %>
    <%= team.name %> <%= link_to "Update #{team.name}", "teams/#{team.id}/edit" %>
    <p>Created at: <%= team.created_at.strftime("%B %d, %Y %H:%M")  %></p>
  <% end  %>

  <%= link_to 'New Team', "/teams/new" %>